<h1>Add Meals To List</h1>

<% if @list_items.blank? %>
	<%= "No items added to list" %>
<% else %>
	<h3>Items added:</h3>
	<% @list_items.each do |list_item| %>
		<p><%= Ingredient.find_by(:id => list_item.ingredient_id).name %></p>
	<% end %>
<% end %>

<%= button_to "Add additional ingredients", "/addingreds/lists/#{@list.id}", method: :get %><br>

<h3>Meals you can add</h3>
<% @meals.each do |meal| %>
    <p><b><%= link_to meal.name, meal_path(meal.id) %></b></p>
	<p><b><%= image_tag meal.image, size:"210x163" %></b></p>

    <p><%= button_to 'Add Meal to List', "/addmeals/#{@list.id}?meal=#{meal.id}", method: :post %></p>
    <br>
<% end %>


