<h1>Edit Ingredients</h1>

<% @recipes.each do |recipe| %>
	<% @ingred = Ingredient.find_by(:id => recipe.ingred_id) %>
	<div class="field">
	  <%= label_tag :name %><br>
	  <%= text_field_tag :name, @ingred.name %>
	</div>	
	<div class="field">
	  <%= label_tag :measure %><br>
	  <%= text_field_tag :measure, recipe.measure %>
	</div>	
	<br>
<% end %>	

<div class="actions">
<%= submit_tag %>
</div>