<h1>Edit Ingredients</h1>

<%= form_tag "/recipes/update/#{params[:id]}", :method => 'patch' do %>
	<% @recipes.each do |recipe| %>
		<% @ingred = Ingredient.find_by(:id => recipe.ingred_id) %>
		<div class="field">
		  <%= label_tag @ingred.name %>
		</div>	
		<div class="field">
		  <%= label_tag :measure %>
		  <%= text_field_tag "#{recipe.id}", recipe.measure %>
		  <%= link_to 'Delete?', "/recipes/update/#{params[:id]}?recipeid=#{recipe.id}", method: :delete %>
		</div><br> 
	<% end %>
		<div class="actions">
			<%= submit_tag "Save Changes" %>
		</div><br>	
<% end %>	

<%= link_to "Add more ingredients", "/meals/#{params[:id]}/add" %>