<h1>Edit Ingredients</h1>


<% @recipes.each do |recipe| %>
	<% @ingred = Ingredient.find_by(:id => recipe.ingred_id) %>

	<%= form_tag "/recipes/#{recipe.id}", :method => 'patch' do %>
		<strong><%= @ingred.name %>:</strong>
		<div class="field">
		  <%= label_tag :measure %>
		  <%= text_field_tag :measure, recipe.measure %>
		</div>	
		<div class="actions">
			<%= submit_tag "Save Changes" %>
		</div>
		<br>
	<% end %>
<% end %>	

<%= link_to "Add more ingredients", "/meals/#{params[:id]}/add" %>