<h1>Meals</h1>

    <%= button_to 'Create New Meal/Recipe', new_meal_path, method: :get %><br>

    <% @meals.each do |meal| %>
        <p><b><%= link_to meal.name + " (see recipe)", meal_path(meal.id) %>           <% if !meal.url.blank? %>
                -- <%= link_to "link to meal source", meal.url %></b>
            <% end %></p>
            
        <p><%= meal.description %></p> 

        <% if !meal.image.blank? %>     
            <p><%= image_tag meal.image, size:"420x325"%></p>
        <% end %>

        <p><%= link_to 'Edit Main Info', edit_meal_path(meal) %> | <%= link_to 'Edit Ingredients', "/recipes/#{meal.id}" %> | 
            <%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></p><br>
    <% end %>

    <h3>Food Friend meals:</h3>

    <% @friend_meals.each do |meal| %>
    	<% user = User.find_by(:id => meal.user_id) %>
    	<p>Created by <%= user.username %>: <b><%= link_to meal.name + " (see recipe)", meal_path(meal.id) %> 

        <% if !meal.url.blank? %>
            -- <%= link_to "link to meal source", meal.url %></b>
        <% end %></p>

        <p><%= meal.description %></p>

        <% if !meal.image.blank? %>
            <p><%= image_tag meal.image, size:"420x325"%></p>
        <% end %><br>

    <% end %>


