<p id="notice"><%= notice %></p>

<p>
  <strong><%= @meal.name + " - " + @meal.description %></strong>
<p>
<ul>
	<% @ingreds.each do |ingred| %>
		<li><%= Ingredient.find_by(:id => ingred.ingred_id).name %></li>
	<% end %>
</ul>
</p>

<p>
  <%= image_tag @meal.image %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
