<%= form_for(@food_feed) do |f| %>
  <% if @food_feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_feed.errors.count, "error") %> prohibited this food_feed from being saved:</h2>

      <ul>
      <% @food_feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feed_type %><br>
    <input type="radio" name=<%= :feed_type %> value="article" checked>Article<br>
    <input type="radio" name=<%= :feed_type %> value="image">Image<br>
    <input type="radio" name=<%= :feed_type %> value="video">Video
  </div><br>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :url %> -- if <strong>video</strong>, put Youtube URL here!<br>
    <%= f.text_field :url %>
  </div>
  <div class="field"> 
    <%= f.label :image %> -- to save <strong>image</strong>, right-click image and choose <strong>'Copy Image URL'</strong><br>
    <%= f.text_field :image %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
