<h1>Food Feed</h1>
<p><%= button_to 'Post New Food Feed', new_food_feed_path, method: :get %></p><br>


    <% @food_feeds.each do |food_feed| %>
    	<% if food_feed.create_user_id != session[:user_id] %>
    		<p><%= User.find_by(:id => food_feed.create_user_id).username %> posted:</p>
    	<% end %>
        <% if food_feed.feed_type == "video" %>
        	<p><strong><%= food_feed.title %></strong></p>
        	<p><iframe width="420" height="325" src="<%= food_feed.url %>" allowfullscreen></iframe></p>
        <% elsif food_feed.feed_type == "image" %>
        	<p><strong><%= food_feed.title %></strong></p>
        	<p><%= image_tag food_feed.image, size: "420x325" %></p>        
        <% else %> 
        	<p><%= link_to food_feed.title, food_feed.url %></p>
        	<p><%= image_tag food_feed.image, size: "420x325" %></p>
        <% end %>
        <p><%= food_feed.description %></p>
        <% if food_feed.create_user_id == session[:user_id] %>
	        <p><%= link_to 'Delete FoodFeed', food_feed, method: :delete, data: { confirm: 'Are you sure?' } %></p>
	   	<% end %>
	   	<br><br>
    <% end %>

<br>

<%= link_to 'Post New Food Feed', new_food_feed_path %>
